@import "./common";
@import "./variables";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/elevation/mdc-elevation";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";


.mm-title {
  fill: $mdc-theme-primary;
  font-size: 30pt;
}

.head-tab {
  background-color: #e0f2f1;
}

.add-user{
  padding-top: 6em;
  padding-left: 2em;
}

.email,
.password {
  display: block;
  width: 300px;
  margin-left: 3em;
  margin-bottom: 1em;
}

.button-container {
  justify-content: flex-end;
  width: 300px;
}

.button-container button {
  margin: 3px;
}